<!DOCTYPE html>
<html>
  <head>
    <title>
      LastFM tag relations
    </title>
  </head>
  
  <body>
    <h1>Tags related to: {{ searched }}</h1>
    <h4><a href="{% url 'tags:compare' %}?s={{ searched }}">compare to LastFM's similar tags</a></h4>
    
    
    <table id="myTable">
      <tr>
        <th id="ourTag">tag</th>
        <th id="ourMetric">metric</th>
      </tr>
      
      <tbody id="myTody">
        {% for name, metric in object_list %}
        <tr>  
        <td>
          {{ name }}
        </td>
        <td>
          {{ metric }}
        </td>
        </tr>
        {% endfor %}
      </tbody>
    <table>
      
      
      
    
    <div id="paginate">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="{% url 'tags:relations' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        
        {% if page_obj.has_next %}
            <a href="{% url 'tags:relations' %}?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}

      {% endif %}
    </div>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      function seeComparison(){
        $.ajax({
          url: 'compare/tag/?s={{searched}}', 
          type: 'GET',
          dataType: 'json',
          success: function(data, textstatus, jqXHR){
            appendData(data);
          },
          error: function(data, textstatus, jqXHR){
            alert("Ooops, error!")
          }
        });
      }
      
      function appendData(somedata){
      /*
      This function takes data returned from AJAX get and 
      makes a new column to display the tags from 
      lastFM's getSimilarTag api call. 
      Before anything, it cleans up the table first!
      */
        var len = somedata.length;
        var tabledata = "";
        alert("HI!");
      }
      
      function cleanUp(){
      /* 
      Hides the metric column.
      Hides pagination, because LastFM similar tags method
      shows only 50 tags.
      */
        $('td:nth-child(2)').hide();
        $('#ourMetric').hide();
        $('#paginate').hide();
      }
      
      $(document).ready({
        
      });
    </script>
    
  </body>
</html>