{% extends 'tags/base.html' %}
{% load staticfiles %}

{% block title %}Search Results{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tags/css/relations.css' %}">
{% endblock %}

{% block main %}
<div class="container">
  
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'tags:index' %}">tagbits</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'tags:index' %}">Home</a></li>
          <li><a href="{% url 'tags:about' %}">About</a></li>
          <li><a href="{% url 'tags:contact' %}">Contact</a></li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
          <form method="GET" action="{% url 'tags:relations' %}" class="navbar-form" role="search">
            <div class="input-group">
              <input name="s" class="form-control" placeholder="Ex. rock">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <!-- end of navbar -->
</div>
<!-- /container -->

<div class="container">
  <div class="jumbotron">
      <h1>Tags related to <span id="searched_term">{{ searched }}</span></h1>
    <button type="button" class="btn btn-default" id="compare" title="similar to {{ searched }}">compare with last.fm</button>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped" id="myTable">
        <tr>
          <th id="ourTag">tag</th>
          <th id="ourMetric">metric</th>
        </tr>
        <tbody id="myTbody">
          {% for name, metric in object_list %}
          <tr>  
            <td>
              {{ name }}
            </td>
            <td>
              {{ metric }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div id="paginate">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
        <button class="btn btn-default" id="prev"><a href="{% url 'tags:relations' %}?s={{ searched }}&page={{ page_obj.previous_page_number }}">Previous</a></button>
        {% endif %}

         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        
        {% if page_obj.has_next %}
        <button class="btn btn-default" id="next"><a href="{% url 'tags:relations' %}?s={{ searched }}&page={{ page_obj.next_page_number }}">Next</a></button>
        {% endif %}

      {% endif %}
    </div>
    
  </div>
</div> <!-- /container -->



{% endblock %}
    

{% block scripts %}
    <script type="text/javascript">
      function seeComparison(){
        $.ajax({
          url: "{% url 'tags:compare' %}?s={{ searched }}",
          type: 'GET',
          dataType: 'json',
          success: function(data, textstatus, jqXHR){
            appendData(data);
          },
          error: function(data, textstatus, jqXHR){
            alert("Ooops, error!");
          }
        });
      }
      
      function appendData(somedata){
      /*
      This function takes data returned from AJAX get and 
      makes a new column to display the tags from 
      lastFM's getSimilarTag api call. 
      Before anything, it cleans up the table first!
      */
        cleanUp();
        $('#myTable').find("tr:first").append("<th id='theirTag'>LastFM tag</th>");
        $('#myTbody tr').each(function(index){
          $(this).append("<td>" + somedata[index] + "</td>");
        });
      }
      
      function cleanUp(){
      /* 
      Hides the metric column.
      Hides pagination, because LastFM similar tags method
      shows only 50 tags.
      */
        $('td:nth-child(2)').hide();
        $('#ourMetric').hide();
        $('#paginate').hide();
        //$('#compare').hide();
        $("#compare").css("visibility", "hidden");
      }
      
      $(document).ready(function(){
        
        $('#compare').click(function(){
        
          seeComparison();
        });
        
      });
    </script>
{% endblock %}
    
