/*
heading - 
font/color for main title, table headings

maintile - 
size of main title

searchbar - 
width, height, color of search bar

descriptions - 
font, color of homepage descriptions

descriptions i - 
padding, color

methodlinks - 
size, color 


*/

#maintitle{
    font-size: 50px;
}

.heading{
    color: rgb(187, 185, 183);
}

.indexcontainer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.indexcontainer .row{
    margin-bottom: 35px;
}

.descriptions i{
    color: #FFDDB0;
    margin-right: 15px;
}

.descriptions{
    color: #B8B4B4;
    margin-bottom: 8px;
}



